

body {
  text-align: center;
  background-image: url(../img/227-2279328_kanye-west-full-body-png-vector-freeuse-library.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  width: 80%;
  min-height: 40em;
  margin: auto;
}

h1 {
  text-align: center;
}

#quote-container {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;

  top: 50%;
  width: 100%;
}